[submodule "content/Engineering"]
	path = content/Engineering
	url = https://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@github.com/LuckyCrasher/notes.git
	branch = Engineering
