[submodule "content/Engineering"]
	path = content/Engineering
	url = https://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@github.com/LuckyCrasher/notes.git
	branch = Engineering
